#a1{
	font:bolder 20px "微软雅黑";
	text-align: right;
	text-decoration: underline;
		}
		.a2{
			text-indent: 2em;
		}
		.a3{
			color: blue;
			background-color: darkgray;
		}
		*{
			background-color: aqua;
		}