body {
	min-width: 320px;
	max-width: 750px;
	/* .js给我们划分了 10等份  
	 10等份是按照屏幕大小划分的   
	 font-size: 75px;*/
	width: 10rem;
	margin: 0 auto;
	line-height: 1.5;
	font-family: Arial,Helvetica;
	background: #f2f2f2;
}
a {
	text-decoration: none;
	font-size: 0.333333rem;
}
/* 这个插件默认的html文字大小 cssroot 16px */

/* 我改为了 75px = 1rem */

/* 750 */
/* 如果我们的屏幕超过了 750px 那么我们就按照 750设计稿走 不会让我们页面超过750px */
@media screen and (min-width: 750px) {
	html {
		font-size: 75px!important;
	}
}
/* search-content */
.search-content {
	display: flex;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 10rem;
	height: 1.173333rem;
	background-color: #ffc001;
}
.classify {
	width: 0.586666rem;
	height: 0.933333rem;
	margin: 0.146666rem 0.333333rem 0.133333rem;
	background: url(../img/classify.png) no-repeat;
	background-size: 0.586666rem 0.933333rem;
}
.search {
	flex: 1;
}
.search input {
	outline: none;
	border: 0;
	width: 100%;
	height: 0.88rem;
	font-size: 0.333333rem;
	background-color: #fff2cc;
	margin-top: 0.133333rem;
	border-radius: 0.44rem;
	color: #757575;
	padding-left: 0.733333rem;
}
.login {
	width: 1rem;
	height: 0.933333rem;
	margin: 0.133333rem;
	color: #fff;
	text-align: center;
	line-height: 0.933333rem;
}
