@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ggfvsr');
  src:  url('../fonts/icomoon.eot?ggfvsr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ggfvsr') format('truetype'),
    url('../fonts/icomoon.woff?ggfvsr') format('woff'),
    url('../fonts/icomoon.svg?ggfvsr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*{
	padding: 0;
	margin: 0;
	overflow: hidden;
}
li {
	list-style: none;
}
div {
	font-family: 'icomoon';
}
.nav {
	position: relative;
	top: 0;
	left: 0;
/* 	width: 1000px;
	height: 700px; */
	z-index: 3;
}
h1 {
	position: absolute;
    top: 155px;
    left: 776px;
	z-index: 3;
}
.aq {
	position: relative;
	margin-top: 310px;
	height: 10px;
	background-color: rgba(0,0,0,.5);
	z-index: 3;
}
input {
	z-index: 3;
	position: absolute;
    top: 340px;
    left: 480px;
	width: 1000px;
	height: 70px;
	font-size: 30px;
	padding-left: 100px;
	border: 0;
	outline: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	border-radius: 35px 35px 35px 35px;
}
.a1 {
	z-index: 4;
	position: absolute;
    top: 352px;
    left: 513px;
	font-size: 40px;
}
.a2 {
	z-index: 4;
	position: absolute;
	top: 352px;
    left: 1404px;
	font-size: 40px;
}
.im {
	z-index: 3;
	border-radius: 8px;
}
.article {
	z-index: 3;
	position: absolute;
    top: 440px;
    left: 482px;
	width: 1000px;
	height: 200px;
}
.article ul li {
	z-index: 3;
	float: left;
	width: 210px;
	height: 200px;
	border-radius: 10px;
}
.article ul li:hover {
	background-color: rgba(0,0,0,.2);
}
.article ul li img {
		z-index: 3;
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
}
span {
		z-index: 3;
	display: inline-block;
    margin-top: 50px;
    margin-left: 67px;
	width: 70px;
	height: 70px;
	border-radius: 30px;
	background-color: #fff;
}
.article ul li h2 {
		z-index: 3;
	margin-top: 23px;
	text-align: center;
	margin-right: 12px;
	color: #333;
	font-weight: 400;
	font-size: 20px;
}
video {
	position: absolute;
	top: 0;
	left: 0;
    width: 1900px;
    height: 1071px;
}