* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	color: #000;
	text-decoration: none;
}
img {
	width: 100%;
	height: 100%;
}
.w {
	width: 70%;
	margin: 0 auto;
}
.a1 {
	position: relative;
}
.a1 ul {
	display: flex;
	position: absolute;
	top: 10px;
	right: 10px;
}
.a1 ul li {
	padding: 0 10px;
	border-right: 1px solid #fff;
}
.a1 ul li:nth-child(3) {
	border: 0;
}
.a1 ul li a {
	color: #fff;
}
.a1 ul li:hover a {
	color: red;
}
.a2 ul {
	box-sizing: border-box;
	display: flex;
	height: 50px;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 1px -6px #ccc inset;
	padding-right: 30px;
	text-align: center;
}
.a2 ul li {
	font-weight: 800;
	color: #333;
	flex: 1;
	padding: 14px;
}
.a2 ul li:nth-child(1) {
	margin-left: 20px;
}
.a2 ul li:hover {
		border-bottom: 5px solid blue;
}
.a3 {
	margin-top: 10px;
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 30px;
}
.a3 h3 {
	padding: 3px 0 15px 10px;
	font-weight: 500;
	color: #000000;
	font-size: 25px;
}
.a3 .b1 {
	float: left;
	width: 20%;
	height: 640px;
	/* margin-right: 5%; */
}
.a3 .b2 {
	float: right;
	width: 75%;
	margin-right: 2%;
/* 	display: flex;
	flex-direction: column; */
}
.a3 .b2 .c1 {
	position: relative;
	width: 100%;
	height: 120px;
	padding: 20px 0;
	border-bottom: 1px dashed #ccc;
}
.a3 .b2 .c1:nth-child(4) {
	border: 0;
}
.a3 .b2 .c1 img {
	width: 200px;
	height: 100%;
	
}
.c1 h5 {
	position: absolute;
	top: 25px;
	left: 50%;
	font-size: 23px;
	color: #494948;
	transform: translateX(-50%);
	/* display: inline-block; */
}
.c1 .p {
	position: absolute;
	top: 70px;
	width: 100%;
	font-weight: 500;
	text-align: center;
	color: #a3a8b3;
}
.c1 p {
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	color: #2fa3e4;
}
.b2 .c1 li {
	position: absolute;
	right: 30px;
	top: 50px;
	display: inline-block;
	font-size: 13px;
	padding: 2px 4px;
	text-align: center;
	border: 2px solid #2fa3e4;
	color: #2fa3e4;
	border-radius: 20px;
}
.a3 .b2 .c1 li:first-of-type {
	position: absolute;
	right: 77px;
	top: 50px;
}
.a3 .b2 .c4 {
	position: absolute;
	top: 84px;
    right: 28px;
}
.a3 .b2 .c1 span {
	color: #2fa3e4;
	font-size: 18px;
}
.a3 .b2 .c1 .c2 {
	font-size: 25px;
}
.a3 .b2 .c1 .c3 {
	font-weight: 800;
}
.a4 {
	box-sizing: border-box;
	margin-top: 20px;
	padding: 28px 122px 30px 0px;
	background-color: #3d3d3d;
	display: flex;
}
.a4 dl {
	text-align: center;
	flex: 1;
}
.a4 dl dt {
	font-size: 20px;
	color: #dfe6ec;
	padding-bottom: 30px;
}
.a4 dl dd {
	padding-bottom: 8px;
	color: #6e6e6f;
}
.a4 dl dd:hover {
	color: #cfd7d4;
}
.a4 dl .ll {
	color: #efecec;
}
.a4 dl dd img {
	width: 100px;
	height: 100px;
}
.a5 {
	text-align: center;
	line-height: 70px;
	height: 70px;
	font-weight: 600;
	background-color: #2f2f2f;
	color: #5a5957;
	font-size: 20px;
}